.App {
  display: flex;
  flex-direction: row;
}

.mystyle1 {
  flex: 1;
  padding: 20px;
}

.st2 {
  flex: 1;
  padding: 20px;
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.v1 {
  flex: 1;
  padding: 20px;
  border-right: 2px solid green;
}

h1 {
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
